/build
/builddir
/.meson-*
/dist
job_transitions.csv
/util/broker-logs.txt
eventlog.csv
/src/python/*.csv
/src/python/*.json
/src/python/out
/src/python/variations*
/util/*.txt
*.log
.DS_Store
**/.DS_Store
*__pycache__/
src/*.csv
src/*.json
/experiment_data/
/test/
/docs
/src/runs
/tmp
.coverage
.coverage.*
htmlcov/
# run spill
*.core
flux-*.out
